:root {
  --primary-purple: #6710c2;
  --primary-pink: #ff00cc;
  --primary-grey: #94a3b8;
  --primary-cyan: #57ddff;
  --primary-gold: #eab308;
  --primary-orange: #f97316;
  --primary-red: #ff0000;
  --primary-lime: #65a30d;
  --primary-green: #22c55e;

  --text-color: #fafafa;
  --primary-background-color: #161722;
  --secondary-background-color: #25273c;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  user-select: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--primary-background-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body.light {
  --text-color: #161722;
  --primary-background-color: #cbd5e1;
  --secondary-background-color: #fafafa;
}

body.light .fa-sun {
  display: none;
}

body.light .fa-moon {
  display: block;
  animation: 0.6s slide-down;
}

.header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 0 2rem;
  color: #fafafa;
  background: linear-gradient(
    to right,
    var(--primary-purple) 0%,
    var(--primary-pink) 100%
  );
  animation: slide-down 0.3s ease-in-out;
  z-index: 2;
}

.toggle-menu {
  display: none;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.toggle-menu:hover {
  background-color: var(--primary-background-color);
}

.toggle-menu > i {
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-menu > .fa-xmark {
  display: none;
}

.header i {
  font-size: 2.2rem;
  color: #fafafa;
  padding: 5px 10px;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.logo > i {
  padding: 0;
  cursor: auto;
}

.logo > h1 {
  font-size: 2.4rem;
}

.fa-moon {
  display: none;
}

.fa-sun {
  display: block;
  animation: 0.6s slide-down;
}

.main {
  display: flex;
  color: var(--text-color);
}

.sidebar {
  position: sticky;
  top: 60px;
  width: 300px;
  height: calc(100vh - 60px);
  padding: 2rem;
  color: var(--text-color);
  background-color: var(--secondary-background-color);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 8px;
  animation: slide-right 0.4s ease-in-out;
  z-index: 2;
}

.projects-tiles {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tile {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tile:hover {
  background-color: var(--primary-background-color);
}

.tile.active {
  color: #fafafa;
  background-color: var(--primary-purple);
}

.projects {
  margin-top: 1.6rem;
}

.projects-header {
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 1rem;
}

.projects-header > i {
  min-width: 32px;
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.projects-header > i:hover {
  background-color: var(--primary-background-color);
}

hr {
  height: 2px;
  border: 0;
  background: linear-gradient(
    to right,
    var(--primary-purple) 0%,
    var(--primary-pink) 100%
  );
  border-radius: 6px;
}

.new-project {
  height: 0;
  margin-bottom: 1rem;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 8px;

  background: linear-gradient(
        var(--secondary-background-color),
        var(--secondary-background-color)
      )
      padding-box,
    linear-gradient(to right, var(--primary-purple), var(--primary-pink))
      border-box;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 2px solid transparent;
  border-top: none;

  transition: all 0.5s ease;
  overflow: hidden;
}

.new-project.show {
  opacity: 1;
  height: 100px;
}

.new-project-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}

.colors {
  display: flex;
  justify-content: space-between;
}

.new-project-actions {
  display: flex;
  justify-content: flex-end;
}

.section-tasks {
  flex: 1;
  min-height: calc(100vh - 60px);
  padding: 2.2rem 2rem;
  animation: slide-left 0.6s ease-in-out;
}

.section-tasks.inactive {
  filter: grayscale(80%) blur(5px);
  pointer-events: none;
}

.tasks-cards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 12px;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.tasks-title {
  font-size: 2.2rem;
}

.task-card {
  height: 185px;
  font-size: 1.4rem;
  padding: 1.4rem;
  background-color: var(--secondary-background-color);
  border-radius: 6px;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;

  display: flex;
  flex-direction: column;
  text-decoration: line-through 2px transparent;
  transition: all 0.6s ease;
  cursor: pointer;
}

.task-card:hover {
  border-right: 2px solid var(--primary-pink);
  border-left: 2px solid var(--primary-purple);
}

.task-card.completed {
  text-decoration: line-through 2px var(--text-color);
  filter: grayscale(100%);
}

.card-header,
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.card-header p {
  font-weight: 700;
}

.card-date {
  color: var(--primary-grey);
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.card-content {
  flex: 1;
  font-size: 1.2rem;
  margin: 1rem 0;
  min-height: 70px;
  line-height: 1.6;
}

.card-actions {
  display: flex;
  gap: 6px;
}

.card-actions > .fa-star.important {
  color: #eab308;
}

.new-task-card {
  height: 185px;
  font-size: 1.4rem;
  padding: 1.4rem;
  background: linear-gradient(
        var(--secondary-background-color),
        var(--secondary-background-color)
      )
      padding-box,
    linear-gradient(to right, var(--primary-purple), var(--primary-pink))
      border-box;
  border-radius: 6px;
  border: 2px solid transparent;

  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 8px;
  animation: 0.6s slide-right ease-in-out;

  overflow: hidden;
}

.new-task-form {
  display: flex;
  flex-direction: column;
}

.new-task-form .card-header .left {
  flex: 1;
}

.new-task-form .card-header {
  gap: 18px;
}

/* MODAL */

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  opacity: 0;
  transition: 0.5s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 400px;
  height: 400px;
  border-radius: 6px;
  color: var(--text-color);
  background: var(--secondary-background-color);
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s ease;
  pointer-events: auto;
  overflow: hidden;
  z-index: 2;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

/* UTILITY */

.left,
.right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.left > i {
  min-width: 18px;
}

.right {
  color: var(--primary-grey);
}

.right > i:hover {
  color: var(--text-color);
}

i {
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-color);
  border: none;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  color: var(--primary-pink);
}

.btn-add {
  font-size: 1.4rem;
  color: #fafafa;
  padding: 0.6rem 1.2rem;
  background-color: var(--primary-purple);
}

.btn-add:hover,
.btn-add:active {
  color: #fafafa;
  background-color: var(--primary-pink);
}

.default {
  color: var(--primary-grey);
}

.purple {
  color: var(--primary-purple);
}

.pink {
  color: var(--primary-pink);
}

.cyan {
  color: var(--primary-cyan);
}

.green,
.low {
  color: var(--primary-green);
}

.gold,
.medium {
  color: var(--primary-gold);
}

.red,
.high {
  color: var(--primary-red);
}

/* INPUTS */

input[type='text'] {
  width: 100%;
  height: 28px;

  font-family: inherit;
  color: var(--text-color);
  background-color: var(--primary-background-color);
  padding-left: 5px;

  border: none;
  border-left: 2px solid var(--primary-background-color);
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  outline: none;
  transition: all 0.7s ease;
}

input[type='text']:focus {
  background-color: var(--primary-background-color);
  border-left: 2px solid var(--primary-pink);
}

input[type='radio'] {
  appearance: none;

  position: relative;
  width: 18px;
  height: 18px;
  margin: 0;
  color: #fafafa;
  background-color: var(--primary-purple);
  border: 1px solid var(--secondary-background-color);
  border-radius: 3px;
}

input[type='radio']::before {
  position: absolute;
  top: 50%;
  left: 50%;

  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 8px 8px #fff;
}

input[type='radio']:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

input[class='default'] {
  background-color: var(--primary-grey);
}

input[class='purple'] {
  background-color: var(--primary-purple);
}

input[class='pink'] {
  background-color: var(--primary-pink);
}

input[class='gold'] {
  background-color: var(--primary-gold);
}

input[class='cyan'] {
  background-color: var(--primary-cyan);
}

input[class='lime'] {
  background-color: var(--primary-lime);
}

input[class='green'] {
  background-color: var(--primary-green);
}

input[class='red'] {
  background-color: var(--primary-red);
}

input[class='orange'] {
  background-color: var(--primary-orange);
}

input[type='date'] {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px;
  outline: none;
  border: none;
  border-top: 2px solid transparent;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: var(--text-color);
  background-color: var(--primary-background-color);
  max-width: 110px;
}

input[type='date']:focus {
  border-top: 2px solid var(--primary-pink);
}

textarea {
  width: 100%;
  font-family: inherit;
  min-height: 70px;
  padding: 5px;
  border: none;
  border-left: 2px solid transparent;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: var(--text-color);
  background-color: var(--primary-background-color);
  outline: none;
  resize: none;
  transition: all 0.6s ease;
}

textarea:focus {
  border-left: 2px solid var(--primary-pink);
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: var(--text-color);
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.select {
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 4px;
  font-size: 1.2rem;
  cursor: pointer;

  background-color: var(--primary-background-color);
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  position: relative;
}

.select::after {
  content: '';
  width: 8px;
  height: 6px;
  background-color: var(--primary-pink);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select,
.select:after {
  grid-area: select;
  justify-self: end;
}

select option {
  color: var(--text-color);
  background-color: var(--primary-background-color);
}

select:focus + .select-focus {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  border: 1px solid var(--primary-pink);
  border-radius: inherit;
}

/* ANIMATIONS */

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* MEDIA QUERIES */

/************************************/
/* BELOW 704px (Smaller Tablets)    */
/************************************/

@media (max-width: 44em) {
  .toggle-menu {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 60px;
    transform: translateX(-100%);
    animation: none;
  }

  .sidebar.open {
    transform: translateX(0);
    transition: 0.4s ease-in-out;
  }

  .sidebar.close {
    transform: translateX(-100%);
    transition: 0.4s ease-in-out;
  }
}

/************************************/
/* BELOW 544px (Phones)             */
/************************************/

@media (max-width: 34em) {
  .tasks-cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
