:root {
  --primary-purple: #6710c2;
  --primary-pink: #ff00cc;
  --primary-cyan: #57ddff;

  --primary-light: #fafafa;
  --secondary-light: #9394a5;
  --primary-dark: #161722;
  --secondary-dark: #25273c;

  /*  
  ### Light Theme

    - Very Light Gray: hsl(0, 0%, 98%)
    - Very Light Grayish Blue: hsl(236, 33%, 92%)
    - Light Grayish Blue: hsl(233, 11%, 84%)
    - Dark Grayish Blue: hsl(236, 9%, 61%)
    - Very Dark Grayish Blue: hsl(235, 19%, 35%)

  ### Dark Theme

    - Very Dark Blue: hsl(235, 21%, 11%)
    - Very Dark Desaturated Blue: hsl(235, 24%, 19%)
    - Light Grayish Blue: hsl(234, 39%, 85%)
    - Light Grayish Blue (hover): hsl(236, 33%, 92%)
    - Dark Grayish Blue: hsl(234, 11%, 52%)
    - Very Dark Grayish Blue: hsl(233, 14%, 35%)
    - Very Dark Grayish Blue: hsl(237, 14%, 26%) 
  */
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--primary-dark);
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  gap: 6px;

  height: 60px;
  padding: 0 3rem;
  background: linear-gradient(
    to right,
    var(--primary-purple) 0%,
    var(--primary-pink) 100%
  );
  animation: 0.7s slide-down;
}

.toggle-menu {
  border-radius: 6px;
  transition: all 0.3s ease;
}

.toggle-menu > i {
  font-size: 2.2rem;
  padding: 5px 10px;
  color: var(--primary-light);
  cursor: pointer;
}

.toggle-menu:hover {
  background-color: var(--secondary-dark);
}

.logo > h1 {
  color: var(--primary-light);
  font-size: 2.4rem;
}

.sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  padding: 3rem;
  color: var(--primary-light);
  background-color: var(--secondary-dark);
  animation: 1.5s slide-right;
}

.sidebar > .home {
  margin-bottom: 2rem;
}

.projects-tiles {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tile {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tile:hover {
  background-color: var(--primary-dark);
}

.tile.active {
  background-color: var(--primary-purple);
}

.tile-left {
  display: flex;
  gap: 6px;
}

.tile-left > i {
  min-width: 18px;
}

.tile-right {
  color: var(--secondary-light);
  display: flex;
  gap: 6px;
}

.tile-right > i,
.card-actions > i {
  cursor: pointer;
  color: var(--secondary-light);
  transition: all 0.3s ease;
}

.tile-right > i:hover,
.card-actions > i:hover {
  color: var(--primary-light);
}

.projects-header {
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.projects-header .fa-plus {
  padding: 5px 10px;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.projects-header .fa-plus:hover {
  background-color: var(--primary-dark);
}

hr {
  height: 1px;
  border: 0;
  background: linear-gradient(
    to right,
    var(--primary-purple) 0%,
    var(--primary-pink) 100%
  );
  border-radius: 6px;
  margin: 1rem 0;
}

.main {
  height: calc(100vh - 60px);
  margin-left: 300px;
  padding: 3.4rem 3rem;
  color: var(--primary-light);
  animation: 1.5s slide-left;
}

.tasks-title {
  font-size: 2.2rem;
}

.tasks {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 12px;
}

.task-card {
  font-size: 1.4rem;
  padding: 1.4rem;
  background-color: var(--secondary-dark);
  border-radius: 6px;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;

  display: flex;
  flex-direction: column;
  text-decoration: line-through 2px transparent;
  transition: all 0.6s ease;
}

.task-card.completed {
  text-decoration: line-through 2px var(--primary-light);
  border-right: 3px solid var(--primary-pink);
  border-left: 3px solid var(--primary-purple);
}

.card-header,
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header p {
  font-weight: 700;
}

.card-date {
  color: var(--secondary-light);
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.card-content {
  flex: 1;
  font-size: 1.2rem;
  margin-top: 1rem;
  min-height: 70px;
  line-height: 1.6;
}

.card-footer {
  margin-top: 2rem;
}

.card-actions {
  display: flex;
  gap: 6px;
}

.card-actions > .fa-star.important {
  color: #eab308;
}

.pink {
  color: var(--primary-pink);
}

.dark {
  color: var(--primary-dark);
}

.darkgoldenrod {
  color: #eab308;
}

.cyan {
  color: var(--primary-cyan);
}

.low {
  color: #22c55e;
}

.medium {
  color: #eab308;
}

.high {
  color: #ff0000;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
